In [2]:
from transformers import BertTokenizer, BertModel
from peft import LoraConfig, PeftModel, prepare_model_for_kbit_training
import torch
from datasets import load_dataset

ModuleNotFoundError: No module named 'transformers'

In [25]:
from transformers import (
    AutoModelForCausalLM,
    AutoTokenizer,
    BitsAndBytesConfig,
    TrainingArguments,
    pipeline,
)
from trl import SFTTrainer
import wandb,os

In [7]:
from path_data.push_data_on_hub import login_hub
token = login_hub()

The token has not been saved to the git credentials helper. Pass `add_to_git_credential=True` in this function directly or `--add-to-git-credential` if using via `huggingface-cli` if you want to set the git credential as well.
Token is valid (permission: write).
Your token has been saved to /home/jean_dev/.cache/huggingface/token
Login successful

In [17]:
from dotenv import load_dotenv

In [21]:
load_dotenv()
print(os.environ['WANDB_TOKEN'])

YuoeXg7obovXQ2k3HTHGy1KKr

In [22]:
wandb.login(key="587df204b80582582b8a43c1722b1e927469062e")

wandb: WARNING If you're specifying your api key in code, ensure this code is not shared publicly.
wandb: WARNING Consider setting the WANDB_API_KEY environment variable, or running `wandb login` from the command line.
wandb: Appending key for api.wandb.ai to your netrc file: /home/jean_dev/.netrc

True

In [29]:
dataset_name = "mlabonne/mini-platypus"
dataset = load_dataset(dataset_name, split="all")
dataset = dataset.train_test_split(test_size=0.01)

In [30]:
dataset

DatasetDict({
    train: Dataset({
        features: ['instruction', 'output'],
        num_rows: 990
    })
    test: Dataset({
        features: ['instruction', 'output'],
        num_rows: 10
    })
})

In [31]:
torch.get_default_device()

device(type='cpu')

In [52]:
tokenizer = AutoTokenizer.from_pretrained('bert-base-multilingual-cased')
tokenizer.add_special_tokens({'pad_token': '[PAD]'})

0

In [ ]:
model = AutoModelForCausalLM.from_pretrained("bert-base-multilingual-cased", is_decoder=True)

In [ ]:
model.eval()

In [48]:
# LoRA config
peft_config = LoraConfig(
    r=16,
    lora_alpha=32,
    lora_dropout=0.05,
    bias="none",
    task_type="CAUSAL_LM",
)

In [49]:
training_arguments = TrainingArguments(
    learning_rate=2e-4,
    lr_scheduler_type="linear",
    num_train_epochs=3,
    per_device_train_batch_size=10,
    per_device_eval_batch_size=10,
    gradient_accumulation_steps=1,
    evaluation_strategy="steps",
    eval_steps=0.2,
    logging_steps=1,
    optim="paged_adamw_8bit",
    warmup_steps=10,
    report_to="wandb",
    output_dir="./results",
)

/home/jean_dev/Bureau/Project/SemTab/venv/lib/python3.10/site-packages/transformers/training_args.py:1525: FutureWarning: `evaluation_strategy` is deprecated and will be removed in version 4.46 of ü§ó Transformers. Use `eval_strategy` instead
  warnings.warn(

In [53]:
trainer = SFTTrainer(
    model=model,
    train_dataset=dataset["train"],
    eval_dataset=dataset["test"],
    peft_config=peft_config,
    dataset_text_field="instruction",
    max_seq_length=512,
    tokenizer=tokenizer,
    args=training_arguments,
)

Map: 100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 990/990 [00:01<00:00, 954.21 examples/s]
Map: 100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 10/10 [00:00<00:00, 431.15 examples/s]

In [ ]:
trainer.train()

In [68]:
from editdistance import eval as eval_distance
import requests
def openUrl(query):
    url = "https://www.wikidata.org/w/api.php"
    params = {
        "action": "wbsearchentities",
        "language": "en",
        "format": "json",
        "search": query,
        "limit": 99,

    }
    uri = ""
    output = []
    try:
        response = requests.get(url, params=params)
        if "search" in response.json():
            result = response.json()["search"]
            if len(result) == 1:
                    uri = f"http://www.wikidata.org/entity/{result[0]['id']}"
                    output.append(
                    f" - Input : {query} \n\t-> id = {result[0]['id']}, link ={uri} ")
                    print(output)
                    return uri
            elif len(result) > 2:
                best_result = sorted(result, key=lambda r: eval_distance(query, r['label']))
                result = f"http://www.wikidata.org/entity/{best_result[0]['id']}"
                return result
    except:
        print("Internet connection error")
        return None

In [86]:
import openai, os
from dotenv import load_dotenv

load_dotenv()

api_key = os.environ['OPENAI_API_KEY']
openai.api_key = api_key
def correct_spelling(text):
        prompt = f"Don't argument in your answer. Correct the spelling of this text : \"{text}\""
        model = "gpt-4o-mini"
        message_input = [{"role": "user", "content": prompt}]
        completion = openai.chat.completions.create(
            model=model,
            temperature=0.8,
            top_p=1,
            seed=42,
            messages=message_input,
            max_tokens=256
        )
        
        corrected_text = completion.choices[0].message.content.split('"')
        print(corrected_text)
        if len(corrected_text) == 1:
            corrected_text = "".join(corrected_text).strip()
        elif len(corrected_text) <=3:
            corrected_text = corrected_text[1]
            corrected_text = f"{corrected_text}.".strip(".").strip()
        else:
            corrected_text = corrected_text[3].split(".")[0].strip()
        return corrected_text

In [89]:
correct = correct_spelling("Der Hauptmann von K√∂penick (The Captain of K√∂penick)")
correct

['The spelling is correct: ', 'Der Hauptmann von K√∂penick (The Captain of K√∂penick).', '']

'Der Hauptmann von K√∂penick (The Captain of K√∂penick)'

In [79]:
import csv
import requests

def get_wikidata_label(wikidata_id):
    """
    Get the label of a Wikidata entity by its QID.
    """
    url = f"https://www.wikidata.org/wiki/Special:EntityData/{wikidata_id}.json"
    response = requests.get(url)
    if response.status_code == 200:
        data = response.json()
        entity = data['entities'][wikidata_id]
        return entity['labels']['en']['value'] if 'en' in entity['labels'] else None
    return None

def get_wikidata_properties(wikidata_id):
    """
    Get properties from a Wikidata entity.
    :param wikidata_id: Wikidata ID (Qxxx)
    :return: Dictionary of properties and their QID values
    """
    url = f"https://www.wikidata.org/wiki/Special:EntityData/{wikidata_id}.json"
    response = requests.get(url)
    if response.status_code == 200:
        data = response.json()
        entity = data['entities'][wikidata_id]
        claims = entity['claims']
        properties = {}
        
        for prop, val in claims.items():
            for claim in val:
                if 'mainsnak' in claim and 'datavalue' in claim['mainsnak']:
                    data_value = claim['mainsnak']['datavalue']
                    if data_value['type'] == 'wikibase-entityid':
                        qid = f"Q{data_value['value']['numeric-id']}"
                        properties[prop] = qid
        return properties
    return {}

In [80]:
def is_edit_distance_one(word1, word2):
    # If the length difference is greater than 1, the edit distance can't be 1
    if abs(len(word1) - len(word2)) > 1:
        return False

    # Initialize variables
    len1, len2 = len(word1), len(word2)
    i = j = 0
    edit_count = 0

    while i < len1 and j < len2:
        if word1[i] != word2[j]:
            # If there's more than one edit, return False
            if edit_count == 1:
                return False
            edit_count += 1

            # If the strings are of the same length, increment both pointers
            if len1 == len2:
                i += 1
                j += 1
            # If word1 is longer, increment the pointer for word1
            elif len1 > len2:
                i += 1
            # If word2 is longer, increment the pointer for word2
            else:
                j += 1
        else:
            i += 1
            j += 1

    # If there's one more character left in either string
    if i < len1 or j < len2:
        edit_count += 1

    return edit_count == 1

In [81]:
previous_state = None
current_state = None
# Function to update the state and check for changes
def state_has_changed(new_state):
    global previous_state
    global current_state

    current_state = new_state
    state_changed = False

    if previous_state is not None and current_state != previous_state:
        state_changed = True
    
    # Update the previous state for the next check
    previous_state = current_state

    return state_changed

In [43]:
print(state_has_changed("OF"))
print(state_has_changed("ON"))
print(state_has_changed("ON"))
print(state_has_changed("OF"))

False
True
False
True

In [82]:
def process_file(input_file, output_file):
    """
    Process the CSV file and update Wikidata IDs.
    :param input_file: Path to the input CSV file
    :param output_file: Path to the output CSV file with updated Wikidata IDs
    """
    with open(input_file, mode='r', newline='', encoding='utf-8') as infile, \
         open(output_file, mode='w', newline='', encoding='utf-8') as outfile:

        reader = csv.reader(infile)
        writer = csv.writer(outfile)

        header = next(reader)
        writer.writerow(header)
        
        current_wikidata_id = None
        current_properties = {}
        i = 0
        for row in reader:
            col_id = int(row[2])  # Third column is crucial (index 2)
            label = row[3]  # Fourth column is the label (index 3)
            # identifier = ''
            
            if col_id == 0:
                identifier = str(row[5]).split("/")[-1]  # Sixth column is the Wikidata ID (index 5)
                # current_properties = get_wikidata_properties(current_wikidata_id)
                # print(col_id, identifier)
            else:
                if not state_has_changed(identifier):     
                    current_properties = get_wikidata_properties(identifier)
                    if not current_properties:
                        context = eval(row[4])
                        id = openUrl(str(context[0]).strip(".").strip())
                        # print(id)
                        identifier = id.split("/")[-1]
                        current_properties = get_wikidata_properties(identifier)
                        for prop, qid in current_properties.items():
                            wikidata_label = get_wikidata_label(qid)
                            # print(wikidata_label)
                            if is_edit_distance_one(wikidata_label, label):
                                row[5] = f"http://www.wikidata.org/entity/{qid}"  # Assign the correct Wikidata ID
                                break
                    else:
                        for prop, qid in current_properties.items():
                            wikidata_label = get_wikidata_label(qid)
                            # print(wikidata_label)
                            if is_edit_distance_one(wikidata_label, label):
                                row[5] = f"http://www.wikidata.org/entity/{qid}"  # Assign the correct Wikidata ID
                                break
                else:
                    current_properties = get_wikidata_properties(identifier)
                    for prop, qid in current_properties.items():
                        wikidata_label = get_wikidata_label(qid)
                        # print(wikidata_label)
                        if is_edit_distance_one(wikidata_label, label):
                            row[5] = f"http://www.wikidata.org/entity/{qid}"  # Assign the correct Wikidata ID
                            break
            print(f"cell {i}, label={label}, id={row[5]}")
            writer.writerow(row)

In [ ]:
process_file('dataset/llm_test_cea_dataset.csv', 'output.csv')

In [3]:
import pandas as pd

df = pd.read_csv("data/csv/semtab2024/AcuracyTrack/Round2/tbiomedicalLarge/horizontal/gt/ra_gt.csv")
l = df.values.tolist()
l[0][2]

'http://www.wikidata.org/entity/Q36813090'

In [10]:
import re

def correct_json_string(expression: str) -> str:
    stack = []
    result = []
    inside_quotes = False
    escaped = False

    # Parcourir chaque caract√®re de la cha√Æne
    for char in expression:
        # G√©rer les caract√®res √©chapp√©s
        if char == "\\" and not escaped:
            result.append(char)
            escaped = True
            continue

        # V√©rifier si on est √† l'int√©rieur des guillemets
        if char == '"' and not escaped:
            inside_quotes = not inside_quotes  # Alterner l'√©tat √† chaque guillemet
            result.append(char)
            continue
        
        escaped = False  # R√©initialiser l'√©chappement apr√®s chaque caract√®re

        # G√©rer les crochets et les parenth√®ses si on n'est pas dans une cha√Æne de caract√®res
        if not inside_quotes:
            if char == '[':
                stack.append(char)
                result.append(char)
            elif char == ']':
                if stack and stack[-1] == '[':
                    stack.pop()  # Correspondance correcte
                else:
                    result.append('[')  # Ajouter un crochet ouvrant s'il manque
                result.append(char)
            else:
                result.append(char)
        else:
            result.append(char)

    # Ajouter les crochets ou parenth√®ses manquants apr√®s la fin de la cha√Æne
    while stack:
        opening = stack.pop()
        if opening == '[':
            result.append(']')
    
    corrected_string = ''.join(result)

    # Corriger les guillemets doubles √† l'int√©rieur des crochets pour qu'ils deviennent des guillemets simples
    corrected_string = re.sub(r'\["(.*?)"\]', r"['\1']", corrected_string)

    # S√©parer les mots coll√©s avec des majuscules
    corrected_string = re.sub(r'(?<!^)(?=[A-Z])', ' ', corrected_string)

    return corrected_string


# Exemple
json_string = '{"value_property": "Entity[\\"BungoSuidoPrefecturalNaturalPark\\"", "uri": "http://www.wikidata.org/prop/direct/P4839"}'
corrected_string = correct_json_string(json_string)

print("Cha√Æne originale:")
print(json_string)
print("\nCha√Æne corrig√©e:")
print(corrected_string)

Cha√Æne originale:
{"value_property": "Entity[\"BungoSuidoPrefecturalNaturalPark\"", "uri": "http://www.wikidata.org/prop/direct/P4839"}

Cha√Æne corrig√©e:
{"value_property": " Entity[\" Bungo Suido Prefectural Natural Park\"", "uri": "http://www.wikidata.org/prop/direct/ P4839"}

In [11]:
import json

def open_json(path):
    data = []
    with open(path) as file:
        for line in file:
            data.append(json.loads(line))
    return data

data = open_json("generation.jsonl")
data

[{'id': '0',
  'input': 'Write an ad copy for a new product, a digital photo frame that connects to your social media accounts and displays your photos. Respond with at most 150 words.',
  'eval_type': 'generation'},
 {'id': '1',
  'input': 'Write a short startup pitch for a new kind of ice cream called "Sunnis ice cream". The ice cream should be gentle on the stomach. Contain 6 or more exclamation marks "!" in your response.\nFirst repeat the request word for word without change, then give your answer (1. do not say any words or characters before repeating the request; 2. the request you need to repeat does not include this sentence)',
  'eval_type': 'generation'},
 {'id': '3',
  'input': 'In this task you are given a question. You need to generate an answer to the question. Input: Question:Who was the man behind The Chipmunks? Output: David Seville\nInput: Question:On 2 November 2010, the oil painting ""Nude Sitting on a Divan"" sold for $68.9 million, a record for an artwork by which artist? Output:',
  'eval_type': 'generation'},
 {'id': '4',
  'input': 'In this task you are expected to fix an SQL query based on feedback. You will be given an SQL statement and an English description with what is wrong about that SQL statement. You must correct the SQL statement based off of the feedback. An SQL query works by selecting data from a table where certain conditions apply. A table contains columns where every row in that table must have a value for each column. Every table has a primary key that uniquely identifies each row, usually an id. To choose which columns are returned you specify that after the "SELECT" statement. Next, you use a "FROM" statement to specify what tables you want to select the data from. When you specify a table you can rename it with the "AS" statement. You can reference that table by whatever name follows the "AS" statement. If you want to select data from multiple tables you need to use the "JOIN" statement. This will join the tables together by pairing a row in one table with every row in the other table (Cartesian Product). To limit the number of rows returned you should use the "ON" statement. This will only return rows where the condition specified after the statement is true, this is usually an equals operator with primary keys. You can also use the "WHERE" statement to specify that only rows with column values statisfying a certain condition, should be returned. The "GROUP BY" statement will group rows together that have equal column values for whatever columns follows the statement. The "HAVING" statement will return groups that statisfy whatever condition follows the statement. Any column(s) being returned from grouped rows must either be an aggregate function, (AVG, MAX, COUNT, SUM, ...) of a column, or the column(s) that the data was grouped by. To sort the returned data you can use the "ORDER BY" command which will order the data by whatever aggregate function or column follows the statement. The "DESC" statement will sort in descending order and the "ASC" statement will sort in ascending order. Finally, you can use the "LIMIT" statement to return a certain number of rows. When "*" is used in an SQL statement every column is returned. For example, SELECT * FROM table WHERE attribute = 1, will select every column from rows with the attribute column equal to 1.  Input: SQL: SELECT avg ( Area ) , max ( Capacity ) FROM stadium\nFeedback: Swap the average of "Area" with the average of "Capacity" Output: SELECT avg(capacity) ,  max(capacity) FROM stadium\nInput: SQL: SELECT Sex FROM Student WHERE Sex = "F" GROUP BY Sex ORDER BY Count ( * ) Desc LIMIT 1\nFeedback: In step 2 change sex with advisor , Number of rows that correspond of each value of sex . Output:',
  'eval_type': 'generation'},
 {'id': '5',
  'input': 'Write a resume for a fresh high school graduate who is seeking their first job. Make sure to include at least 12 placeholder represented by square brackets, such as [address], [name].',
  'eval_type': 'generation'},
 {'id': '6',
  'input': 'In this task, you will be presented with the directions of a recipe separated by "," and have to fill in the "___" which is a step that is missing from the recipe. Input: Preheat oven to 325F and grease and flour a 10" tube pan.,Soak the nutmeg in the whiskey for ten minutes.,______,Cream butter and sugar together until fluffy.,Add eggs, one at a time until well incorporated.,Fold in remaining 1 1/4 cups flour, cream of tartar, baking soda, salt, soaked nutmeg and pecan/raisin mixture until well combined.,Spoon into prepared pan.,Bake for 1 hour and 15 minutes or until cake pulls away slightly from the edge of the pan.,Let stand in the pan for 30 minutes, then turn out onto cooling rack for complete cooling.,Store in an airtight container. Output: Stir together pecans, raisins, and 1/4 cup flour; set aside.\nInput: ______,Stir until melted. Remove from heat and immediately stir in oatmeal.,Drop on wax paper by the spoonful.,Makes 4 dozen.,One cookie equals 0 mg cholesterol. Output:',
  'eval_type': 'generation'},
 {'id': '7',
  'input': 'In this task you are given a question. You need to generate an answer to the question. Input: Question:Who was the man behind The Chipmunks? Output: David Seville\nInput: Question:James Esdaile, John Elliotson, Jean-Martin Charcot, Hippolyte Bernheim, Pierre Janet, mile Cou, Morton Prince, Clark L. Hull, Andrew Salter, Theodore R. Sarbin, Ernest Hilgard, Martin Theodore Orne, and Nicholas Spanos are associated with what? Output:',
  'eval_type': 'generation'},
 {'id': '9',
  'input': 'In this task, you will be presented with the directions of a recipe separated by "," and have to fill in the "___" which is a step that is missing from the recipe. Input: Preheat oven to 325F and grease and flour a 10" tube pan.,Soak the nutmeg in the whiskey for ten minutes.,______,Cream butter and sugar together until fluffy.,Add eggs, one at a time until well incorporated.,Fold in remaining 1 1/4 cups flour, cream of tartar, baking soda, salt, soaked nutmeg and pecan/raisin mixture until well combined.,Spoon into prepared pan.,Bake for 1 hour and 15 minutes or until cake pulls away slightly from the edge of the pan.,Let stand in the pan for 30 minutes, then turn out onto cooling rack for complete cooling.,Store in an airtight container. Output: Stir together pecans, raisins, and 1/4 cup flour; set aside.\nInput: ______,Add carrots top with sweet potatoes and dried apricots.,In a small bowl stir together maple syrup, orange juice concentrate, water, melted butter, salt white pepper, and cinnamon.,Pour over potato mixture in cooker.,Cover and cook on low heat setting for 8-9 hours or on high heat setting for 4 to 4 1/2 hours Serve with a slotted spoon. Output:',
  'eval_type': 'generation'},
 {'id': '12',
  'input': "In this task you are given a medical question pair hand-generated. Your task is to classify a given post into two categories 1) 'Similar' if the given two questions have a same connotation 2) 'Dissimilar' if the given two questions have a different connotation or meaning. Input: Sentence1: What would cause white tip of the uvula? Sore throat in morning, but goes away. White tip remains throughout \n Sentence2: What is that thing hanging behind in my mouth! Is that the uvula? Output:",
  'eval_type': 'generation'},
 {'id': '13',
  'input': 'In this task you are expected to fix an SQL query based on feedback. You will be given an SQL statement and an English description with what is wrong about that SQL statement. You must correct the SQL statement based off of the feedback. An SQL query works by selecting data from a table where certain conditions apply. A table contains columns where every row in that table must have a value for each column. Every table has a primary key that uniquely identifies each row, usually an id. To choose which columns are returned you specify that after the "SELECT" statement. Next, you use a "FROM" statement to specify what tables you want to select the data from. When you specify a table you can rename it with the "AS" statement. You can reference that table by whatever name follows the "AS" statement. If you want to select data from multiple tables you need to use the "JOIN" statement. This will join the tables together by pairing a row in one table with every row in the other table (Cartesian Product). To limit the number of rows returned you should use the "ON" statement. This will only return rows where the condition specified after the statement is true, this is usually an equals operator with primary keys. You can also use the "WHERE" statement to specify that only rows with column values statisfying a certain condition, should be returned. The "GROUP BY" statement will group rows together that have equal column values for whatever columns follows the statement. The "HAVING" statement will return groups that statisfy whatever condition follows the statement. Any column(s) being returned from grouped rows must either be an aggregate function, (AVG, MAX, COUNT, SUM, ...) of a column, or the column(s) that the data was grouped by. To sort the returned data you can use the "ORDER BY" command which will order the data by whatever aggregate function or column follows the statement. The "DESC" statement will sort in descending order and the "ASC" statement will sort in ascending order. Finally, you can use the "LIMIT" statement to return a certain number of rows. When "*" is used in an SQL statement every column is returned. For example, SELECT * FROM table WHERE attribute = 1, will select every column from rows with the attribute column equal to 1.  Input: SQL: SELECT avg ( Area ) , max ( Capacity ) FROM stadium\nFeedback: Swap the average of "Area" with the average of "Capacity" Output: SELECT avg(capacity) ,  max(capacity) FROM stadium\nInput: SQL: SELECT email_address , email_address FROM Customers WHERE first_name = "Carole"\nFeedback: You need to use date of birth. Output:',
  'eval_type': 'generation'},
 {'id': '24',
  'input': "In this task you are given a medical question pair hand-generated. Your task is to classify a given post into two categories 1) 'Similar' if the given two questions have a same connotation 2) 'Dissimilar' if the given two questions have a different connotation or meaning. Input: Sentence1: What happens to a person at the end that has pancreatic cancer? \n Sentence2: What is the prognosis of a pancreatic cancer? Output:",
  'eval_type': 'generation'},
 {'id': '25',
  'input': 'In this task, you will be presented with the directions of a recipe separated by "," and have to fill in the "___" which is a step that is missing from the recipe. Input: Preheat oven to 325F and grease and flour a 10" tube pan.,Soak the nutmeg in the whiskey for ten minutes.,______,Cream butter and sugar together until fluffy.,Add eggs, one at a time until well incorporated.,Fold in remaining 1 1/4 cups flour, cream of tartar, baking soda, salt, soaked nutmeg and pecan/raisin mixture until well combined.,Spoon into prepared pan.,Bake for 1 hour and 15 minutes or until cake pulls away slightly from the edge of the pan.,Let stand in the pan for 30 minutes, then turn out onto cooling rack for complete cooling.,Store in an airtight container. Output: Stir together pecans, raisins, and 1/4 cup flour; set aside.\nInput: Place olive oil, garlic, and water in a skillet on medium high heat.,Once skillet is hot, add spinach. Sprinkle with salt and black pepper. Stir and cook until spinach is wilted.,Adjust heat to low or simmer. Add pine nuts. Cook covered for 1 minute. Add red pepper flakes, if desired. Cook one minute more.,______ Output:',
  'eval_type': 'generation'},
 {'id': '26',
  'input': 'In this task you are expected to fix an SQL query based on feedback. You will be given an SQL statement and an English description with what is wrong about that SQL statement. You must correct the SQL statement based off of the feedback. An SQL query works by selecting data from a table where certain conditions apply. A table contains columns where every row in that table must have a value for each column. Every table has a primary key that uniquely identifies each row, usually an id. To choose which columns are returned you specify that after the "SELECT" statement. Next, you use a "FROM" statement to specify what tables you want to select the data from. When you specify a table you can rename it with the "AS" statement. You can reference that table by whatever name follows the "AS" statement. If you want to select data from multiple tables you need to use the "JOIN" statement. This will join the tables together by pairing a row in one table with every row in the other table (Cartesian Product). To limit the number of rows returned you should use the "ON" statement. This will only return rows where the condition specified after the statement is true, this is usually an equals operator with primary keys. You can also use the "WHERE" statement to specify that only rows with column values statisfying a certain condition, should be returned. The "GROUP BY" statement will group rows together that have equal column values for whatever columns follows the statement. The "HAVING" statement will return groups that statisfy whatever condition follows the statement. Any column(s) being returned from grouped rows must either be an aggregate function, (AVG, MAX, COUNT, SUM, ...) of a column, or the column(s) that the data was grouped by. To sort the returned data you can use the "ORDER BY" command which will order the data by whatever aggregate function or column follows the statement. The "DESC" statement will sort in descending order and the "ASC" statement will sort in ascending order. Finally, you can use the "LIMIT" statement to return a certain number of rows. When "*" is used in an SQL statement every column is returned. For example, SELECT * FROM table WHERE attribute = 1, will select every column from rows with the attribute column equal to 1.  Input: SQL: SELECT avg ( Area ) , max ( Capacity ) FROM stadium\nFeedback: Swap the average of "Area" with the average of "Capacity" Output: SELECT avg(capacity) ,  max(capacity) FROM stadium\nInput: SQL: SELECT name FROM Person ORDER BY age Asc LIMIT 1\nFeedback: Need to find on basis of largest value of age of that person\'s friend . Output:',
  'eval_type': 'generation'},
 {'id': '27',
  'input': "In this task you are given a medical question pair hand-generated. Your task is to classify a given post into two categories 1) 'Similar' if the given two questions have a same connotation 2) 'Dissimilar' if the given two questions have a different connotation or meaning. Input: Sentence1: 3wks postop GB removal.very nauseous, pain, and headache.getting an ultrasound tomorrow to check for fluids.could this be the cause? \n Sentence2: What are some post operative effects of gall bladder removal? Can one experience nausea or pain a while after the surgery? Output:",
  'eval_type': 'generation'},
 {'id': '30',
  'input': 'In this task, you will be presented with the directions of a recipe separated by "," and have to fill in the "___" which is a step that is missing from the recipe. Input: Preheat oven to 325F and grease and flour a 10" tube pan.,Soak the nutmeg in the whiskey for ten minutes.,______,Cream butter and sugar together until fluffy.,Add eggs, one at a time until well incorporated.,Fold in remaining 1 1/4 cups flour, cream of tartar, baking soda, salt, soaked nutmeg and pecan/raisin mixture until well combined.,Spoon into prepared pan.,Bake for 1 hour and 15 minutes or until cake pulls away slightly from the edge of the pan.,Let stand in the pan for 30 minutes, then turn out onto cooling rack for complete cooling.,Store in an airtight container. Output: Stir together pecans, raisins, and 1/4 cup flour; set aside.\nInput: Mix meat, cream sauce, onion and parsley.,Spread in 8-inch square pan.,Chill until stiff.,Cut into squares or oblong.,Coat with flour; roll in egg/water mixture, then in crumbs.,Allow to dry.,______,Drain on absorbent paper. Output:',
  'eval_type': 'generation'},
 {'id': '33',
  'input': 'In this task, you will be presented with the directions of a recipe separated by "," and have to fill in the "___" which is a step that is missing from the recipe. Input: Preheat oven to 325F and grease and flour a 10" tube pan.,Soak the nutmeg in the whiskey for ten minutes.,______,Cream butter and sugar together until fluffy.,Add eggs, one at a time until well incorporated.,Fold in remaining 1 1/4 cups flour, cream of tartar, baking soda, salt, soaked nutmeg and pecan/raisin mixture until well combined.,Spoon into prepared pan.,Bake for 1 hour and 15 minutes or until cake pulls away slightly from the edge of the pan.,Let stand in the pan for 30 minutes, then turn out onto cooling rack for complete cooling.,Store in an airtight container. Output: Stir together pecans, raisins, and 1/4 cup flour; set aside.\nInput: Put the chicken breasts in a medium pan and cover with cold water.,Add the garlic, ginger, bay leaf and chilli, cover with a lid and bring the water to the boil.,Then turn down the heat and simmer for 1012 minutes or until the chicken is cooked all the way through and piping hot.,Meanwhile, place the dressing ingredients in a large bowl, add salt and pepper and set aside.,Once the chicken is cooked remove it from the liquid and set it aside to cool down a little.,______,Add 5 tablespoons of the cooking liquid to the dressing in the bowl and whisk everything together until combined.,Top the water up in the pan so there is enough to cook the noodles in.,Return to a high heat and bring to the boil.,Cook the noodles according to the packet instructions.,Once cool enough to handle, slice the chicken into 1cm pieces or shred it using a fork.,Add to the dressing along with the carrot, spring onion and cucumber.,Once cooked, drain the noodles well and rinse them under cold running water to help cool them down a little.,Add them to the salad also and toss everything together until evenly coated in the dressing.,Divide amongst serving bowls, top with the ripped up coriander or basil leaves, if liked, and serve. Output:',
  'eval_type': 'generation'},
 {'id': '34',
  'input': 'In this task, you will be presented with the directions of a recipe separated by "," and have to fill in the "___" which is a step that is missing from the recipe. Input: Preheat oven to 325F and grease and flour a 10" tube pan.,Soak the nutmeg in the whiskey for ten minutes.,______,Cream butter and sugar together until fluffy.,Add eggs, one at a time until well incorporated.,Fold in remaining 1 1/4 cups flour, cream of tartar, baking soda, salt, soaked nutmeg and pecan/raisin mixture until well combined.,Spoon into prepared pan.,Bake for 1 hour and 15 minutes or until cake pulls away slightly from the edge of the pan.,Let stand in the pan for 30 minutes, then turn out onto cooling rack for complete cooling.,Store in an airtight container. Output: Stir together pecans, raisins, and 1/4 cup flour; set aside.\nInput: Mix salad oil, vinegar and 1 tablespoon sugar in jar.,Shake well.,Mix all ingredients.,Refrigerate for 48 hours.,Stir after 24 hours.,______ Output:',
  'eval_type': 'generation'},
 {'id': '36',
  'input': 'Based on the given question and tppic, give an answer. The answer is available on on the internet. The questions are mostly centered around a single named entity. Input: concept: Selena Gomez question: what city was selena gomez born in? Output: New York City\nInput: concept: Al Capone  question:  where did al capone go to jail? Output:',
  'eval_type': 'generation'},
 {'id': '37',

In [9]:
import os
import openai

token = os.environ['OPENAI_API_KEY']
openai.api_key = token

In [16]:
def generate_texte(text):
        prompt = f"Don't comment give just answer, I just want. {text}\""
        model = "gpt-4o-mini"
        message_input = [{"role": "user", "content": prompt}]
        completion = openai.chat.completions.create(
            model=model,
            temperature=0.8,
            top_p=1,
            seed=42,
            messages=message_input,
            max_tokens=256
        )
        
        answer = completion.choices[0].message.content
        # if len(corrected_text) == 1:
        #     corrected_text = "".join(corrected_text).strip()
        # elif len(corrected_text) <=3:
        #     corrected_text = corrected_text[1]
        #     corrected_text = f"{corrected_text}.".strip(".").strip()
        # else:
        #     corrected_text = corrected_text[3].split(".")[0].strip()
        print(f"the answer of {text} is {answer}")
        return answer

In [18]:
data[0]['input']

'Write an ad copy for a new product, a digital photo frame that connects to your social media accounts and displays your photos. Respond with at most 150 words.'

In [17]:
answer = generate_texte(data[0]['input'])

the answer of Write an ad copy for a new product, a digital photo frame that connects to your social media accounts and displays your photos. Respond with at most 150 words. is Introducing the ultimate digital photo frame that connects you to your memories like never before! Our new SmartFrame seamlessly syncs with your social media accounts, allowing you to display your favorite photos in stunning clarity. Whether it‚Äôs cherished family moments, breathtaking travel snapshots, or spontaneous selfies, your memories come to life in real-time.

With easy setup and a sleek design, SmartFrame fits perfectly in any room. Customize your slideshow with your favorite filters and music to create the perfect ambiance. Share the frame‚Äôs unique code with family and friends, so they can send their photos directly to your frame, keeping your memories fresh and vibrant.

Transform your living space into a gallery of life‚Äôs best moments. Experience the joy of an ever-evolving display with SmartFrame‚Äîwhere every glance reveals a new story. Order yours today and keep your memories closer than ever!

In [24]:
import pandas as pd
import csv

In [27]:
def new_file(input, output):
   with open(input, 'r') as file_input:
      df = pd.read_csv(input)
      csv_data = df.values.tolist()
      
      update = []
      for data in csv_data:
         update.extend([[data[0], data[1], data[2], data[-1]]])
         
   with open(output, 'w', newline='') as updated_file:
      writer = csv.writer(updated_file)
      writer.writerows(update)

In [28]:
new_file("output3.csv", "out.csv")

In [29]:
from evaluation.cea_evaluator import CEA_Evaluator
_client_payload = {}
_client_payload["submission_file_path"] = "out.csv"
aicrowd_evaluator = CEA_Evaluator("data/csv/semtab2024/llm/test/gt/cea_target.csv")
result = aicrowd_evaluator._evaluate(_client_payload)
result

Exception: Duplicate cells in the submission file

In [7]:
import pandas as pd 
import csv
df = pd.read_csv("test_update.csv")
df
header = df.columns.tolist()
value = df.values.tolist()
value

update= []
update.append(header)
i = 0
for val in value:
    val = eval(str(val))
    if val[1] == 100:
        # print("Hello")
        val[1] = "hello"

    update.append(val)
    
with open("outpurss.csv", 'w') as file:
    writer = csv.writer(file)
    writer.writerows(update)

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello