In [2]:
from transformers import BertTokenizer, BertModel
from peft import LoraConfig, PeftModel, prepare_model_for_kbit_training
import torch
from datasets import load_dataset

ModuleNotFoundError: No module named 'transformers'

In [25]:
from transformers import (
    AutoModelForCausalLM,
    AutoTokenizer,
    BitsAndBytesConfig,
    TrainingArguments,
    pipeline,
)
from trl import SFTTrainer
import wandb,os

In [7]:
from path_data.push_data_on_hub import login_hub
token = login_hub()

The token has not been saved to the git credentials helper. Pass `add_to_git_credential=True` in this function directly or `--add-to-git-credential` if using via `huggingface-cli` if you want to set the git credential as well.
Token is valid (permission: write).
Your token has been saved to /home/jean_dev/.cache/huggingface/token
Login successful

In [17]:
from dotenv import load_dotenv

In [21]:
load_dotenv()
print(os.environ['WANDB_TOKEN'])

YuoeXg7obovXQ2k3HTHGy1KKr

In [22]:
wandb.login(key="587df204b80582582b8a43c1722b1e927469062e")

wandb: WARNING If you're specifying your api key in code, ensure this code is not shared publicly.
wandb: WARNING Consider setting the WANDB_API_KEY environment variable, or running `wandb login` from the command line.
wandb: Appending key for api.wandb.ai to your netrc file: /home/jean_dev/.netrc

True

In [29]:
dataset_name = "mlabonne/mini-platypus"
dataset = load_dataset(dataset_name, split="all")
dataset = dataset.train_test_split(test_size=0.01)

In [30]:
dataset

DatasetDict({
    train: Dataset({
        features: ['instruction', 'output'],
        num_rows: 990
    })
    test: Dataset({
        features: ['instruction', 'output'],
        num_rows: 10
    })
})

In [31]:
torch.get_default_device()

device(type='cpu')

In [52]:
tokenizer = AutoTokenizer.from_pretrained('bert-base-multilingual-cased')
tokenizer.add_special_tokens({'pad_token': '[PAD]'})

0

In [ ]:
model = AutoModelForCausalLM.from_pretrained("bert-base-multilingual-cased", is_decoder=True)

In [ ]:
model.eval()

In [48]:
# LoRA config
peft_config = LoraConfig(
    r=16,
    lora_alpha=32,
    lora_dropout=0.05,
    bias="none",
    task_type="CAUSAL_LM",
)

In [49]:
training_arguments = TrainingArguments(
    learning_rate=2e-4,
    lr_scheduler_type="linear",
    num_train_epochs=3,
    per_device_train_batch_size=10,
    per_device_eval_batch_size=10,
    gradient_accumulation_steps=1,
    evaluation_strategy="steps",
    eval_steps=0.2,
    logging_steps=1,
    optim="paged_adamw_8bit",
    warmup_steps=10,
    report_to="wandb",
    output_dir="./results",
)

/home/jean_dev/Bureau/Project/SemTab/venv/lib/python3.10/site-packages/transformers/training_args.py:1525: FutureWarning: `evaluation_strategy` is deprecated and will be removed in version 4.46 of ü§ó Transformers. Use `eval_strategy` instead
  warnings.warn(

In [53]:
trainer = SFTTrainer(
    model=model,
    train_dataset=dataset["train"],
    eval_dataset=dataset["test"],
    peft_config=peft_config,
    dataset_text_field="instruction",
    max_seq_length=512,
    tokenizer=tokenizer,
    args=training_arguments,
)

Map: 100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 990/990 [00:01<00:00, 954.21 examples/s]
Map: 100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 10/10 [00:00<00:00, 431.15 examples/s]

In [ ]:
trainer.train()

In [68]:
from editdistance import eval as eval_distance
import requests
def openUrl(query):
    url = "https://www.wikidata.org/w/api.php"
    params = {
        "action": "wbsearchentities",
        "language": "en",
        "format": "json",
        "search": query,
        "limit": 99,

    }
    uri = ""
    output = []
    try:
        response = requests.get(url, params=params)
        if "search" in response.json():
            result = response.json()["search"]
            if len(result) == 1:
                    uri = f"http://www.wikidata.org/entity/{result[0]['id']}"
                    output.append(
                    f" - Input : {query} \n\t-> id = {result[0]['id']}, link ={uri} ")
                    print(output)
                    return uri
            elif len(result) > 2:
                best_result = sorted(result, key=lambda r: eval_distance(query, r['label']))
                result = f"http://www.wikidata.org/entity/{best_result[0]['id']}"
                return result
    except:
        print("Internet connection error")
        return None

In [86]:
import openai, os
from dotenv import load_dotenv

load_dotenv()

api_key = os.environ['OPENAI_API_KEY']
openai.api_key = api_key
def correct_spelling(text):
        prompt = f"Don't argument in your answer. Correct the spelling of this text : \"{text}\""
        model = "gpt-4o-mini"
        message_input = [{"role": "user", "content": prompt}]
        completion = openai.chat.completions.create(
            model=model,
            temperature=0.8,
            top_p=1,
            seed=42,
            messages=message_input,
            max_tokens=256
        )
        
        corrected_text = completion.choices[0].message.content.split('"')
        print(corrected_text)
        if len(corrected_text) == 1:
            corrected_text = "".join(corrected_text).strip()
        elif len(corrected_text) <=3:
            corrected_text = corrected_text[1]
            corrected_text = f"{corrected_text}.".strip(".").strip()
        else:
            corrected_text = corrected_text[3].split(".")[0].strip()
        return corrected_text

In [89]:
correct = correct_spelling("Der Hauptmann von K√∂penick (The Captain of K√∂penick)")
correct

['The spelling is correct: ', 'Der Hauptmann von K√∂penick (The Captain of K√∂penick).', '']

'Der Hauptmann von K√∂penick (The Captain of K√∂penick)'

In [79]:
import csv
import requests

def get_wikidata_label(wikidata_id):
    """
    Get the label of a Wikidata entity by its QID.
    """
    url = f"https://www.wikidata.org/wiki/Special:EntityData/{wikidata_id}.json"
    response = requests.get(url)
    if response.status_code == 200:
        data = response.json()
        entity = data['entities'][wikidata_id]
        return entity['labels']['en']['value'] if 'en' in entity['labels'] else None
    return None

def get_wikidata_properties(wikidata_id):
    """
    Get properties from a Wikidata entity.
    :param wikidata_id: Wikidata ID (Qxxx)
    :return: Dictionary of properties and their QID values
    """
    url = f"https://www.wikidata.org/wiki/Special:EntityData/{wikidata_id}.json"
    response = requests.get(url)
    if response.status_code == 200:
        data = response.json()
        entity = data['entities'][wikidata_id]
        claims = entity['claims']
        properties = {}
        
        for prop, val in claims.items():
            for claim in val:
                if 'mainsnak' in claim and 'datavalue' in claim['mainsnak']:
                    data_value = claim['mainsnak']['datavalue']
                    if data_value['type'] == 'wikibase-entityid':
                        qid = f"Q{data_value['value']['numeric-id']}"
                        properties[prop] = qid
        return properties
    return {}

In [80]:
def is_edit_distance_one(word1, word2):
    # If the length difference is greater than 1, the edit distance can't be 1
    if abs(len(word1) - len(word2)) > 1:
        return False

    # Initialize variables
    len1, len2 = len(word1), len(word2)
    i = j = 0
    edit_count = 0

    while i < len1 and j < len2:
        if word1[i] != word2[j]:
            # If there's more than one edit, return False
            if edit_count == 1:
                return False
            edit_count += 1

            # If the strings are of the same length, increment both pointers
            if len1 == len2:
                i += 1
                j += 1
            # If word1 is longer, increment the pointer for word1
            elif len1 > len2:
                i += 1
            # If word2 is longer, increment the pointer for word2
            else:
                j += 1
        else:
            i += 1
            j += 1

    # If there's one more character left in either string
    if i < len1 or j < len2:
        edit_count += 1

    return edit_count == 1

In [81]:
previous_state = None
current_state = None
# Function to update the state and check for changes
def state_has_changed(new_state):
    global previous_state
    global current_state

    current_state = new_state
    state_changed = False

    if previous_state is not None and current_state != previous_state:
        state_changed = True
    
    # Update the previous state for the next check
    previous_state = current_state

    return state_changed

In [43]:
print(state_has_changed("OF"))
print(state_has_changed("ON"))
print(state_has_changed("ON"))
print(state_has_changed("OF"))

False
True
False
True

In [82]:
def process_file(input_file, output_file):
    """
    Process the CSV file and update Wikidata IDs.
    :param input_file: Path to the input CSV file
    :param output_file: Path to the output CSV file with updated Wikidata IDs
    """
    with open(input_file, mode='r', newline='', encoding='utf-8') as infile, \
         open(output_file, mode='w', newline='', encoding='utf-8') as outfile:

        reader = csv.reader(infile)
        writer = csv.writer(outfile)

        header = next(reader)
        writer.writerow(header)
        
        current_wikidata_id = None
        current_properties = {}
        i = 0
        for row in reader:
            col_id = int(row[2])  # Third column is crucial (index 2)
            label = row[3]  # Fourth column is the label (index 3)
            # identifier = ''
            
            if col_id == 0:
                identifier = str(row[5]).split("/")[-1]  # Sixth column is the Wikidata ID (index 5)
                # current_properties = get_wikidata_properties(current_wikidata_id)
                # print(col_id, identifier)
            else:
                if not state_has_changed(identifier):     
                    current_properties = get_wikidata_properties(identifier)
                    if not current_properties:
                        context = eval(row[4])
                        id = openUrl(str(context[0]).strip(".").strip())
                        # print(id)
                        identifier = id.split("/")[-1]
                        current_properties = get_wikidata_properties(identifier)
                        for prop, qid in current_properties.items():
                            wikidata_label = get_wikidata_label(qid)
                            # print(wikidata_label)
                            if is_edit_distance_one(wikidata_label, label):
                                row[5] = f"http://www.wikidata.org/entity/{qid}"  # Assign the correct Wikidata ID
                                break
                    else:
                        for prop, qid in current_properties.items():
                            wikidata_label = get_wikidata_label(qid)
                            # print(wikidata_label)
                            if is_edit_distance_one(wikidata_label, label):
                                row[5] = f"http://www.wikidata.org/entity/{qid}"  # Assign the correct Wikidata ID
                                break
                else:
                    current_properties = get_wikidata_properties(identifier)
                    for prop, qid in current_properties.items():
                        wikidata_label = get_wikidata_label(qid)
                        # print(wikidata_label)
                        if is_edit_distance_one(wikidata_label, label):
                            row[5] = f"http://www.wikidata.org/entity/{qid}"  # Assign the correct Wikidata ID
                            break
            print(f"cell {i}, label={label}, id={row[5]}")
            writer.writerow(row)

In [ ]:
process_file('dataset/llm_test_cea_dataset.csv', 'output.csv')

In [3]:
import pandas as pd

df = pd.read_csv("data/csv/semtab2024/AcuracyTrack/Round2/tbiomedicalLarge/horizontal/gt/ra_gt.csv")
l = df.values.tolist()
l[0][2]

'http://www.wikidata.org/entity/Q36813090'

In [10]:
import re

def correct_json_string(expression: str) -> str:
    stack = []
    result = []
    inside_quotes = False
    escaped = False

    # Parcourir chaque caract√®re de la cha√Æne
    for char in expression:
        # G√©rer les caract√®res √©chapp√©s
        if char == "\\" and not escaped:
            result.append(char)
            escaped = True
            continue

        # V√©rifier si on est √† l'int√©rieur des guillemets
        if char == '"' and not escaped:
            inside_quotes = not inside_quotes  # Alterner l'√©tat √† chaque guillemet
            result.append(char)
            continue
        
        escaped = False  # R√©initialiser l'√©chappement apr√®s chaque caract√®re

        # G√©rer les crochets et les parenth√®ses si on n'est pas dans une cha√Æne de caract√®res
        if not inside_quotes:
            if char == '[':
                stack.append(char)
                result.append(char)
            elif char == ']':
                if stack and stack[-1] == '[':
                    stack.pop()  # Correspondance correcte
                else:
                    result.append('[')  # Ajouter un crochet ouvrant s'il manque
                result.append(char)
            else:
                result.append(char)
        else:
            result.append(char)

    # Ajouter les crochets ou parenth√®ses manquants apr√®s la fin de la cha√Æne
    while stack:
        opening = stack.pop()
        if opening == '[':
            result.append(']')
    
    corrected_string = ''.join(result)

    # Corriger les guillemets doubles √† l'int√©rieur des crochets pour qu'ils deviennent des guillemets simples
    corrected_string = re.sub(r'\["(.*?)"\]', r"['\1']", corrected_string)

    # S√©parer les mots coll√©s avec des majuscules
    corrected_string = re.sub(r'(?<!^)(?=[A-Z])', ' ', corrected_string)

    return corrected_string


# Exemple
json_string = '{"value_property": "Entity[\\"BungoSuidoPrefecturalNaturalPark\\"", "uri": "http://www.wikidata.org/prop/direct/P4839"}'
corrected_string = correct_json_string(json_string)

print("Cha√Æne originale:")
print(json_string)
print("\nCha√Æne corrig√©e:")
print(corrected_string)

Cha√Æne originale:
{"value_property": "Entity[\"BungoSuidoPrefecturalNaturalPark\"", "uri": "http://www.wikidata.org/prop/direct/P4839"}

Cha√Æne corrig√©e:
{"value_property": " Entity[\" Bungo Suido Prefectural Natural Park\"", "uri": "http://www.wikidata.org/prop/direct/ P4839"}

In [11]:
import json

def open_json(path):
    data = []
    with open(path) as file:
        for line in file:
            data.append(json.loads(line))
    return data

data = open_json("generation.jsonl")
data

[{'id': '0',
  'input': 'Write an ad copy for a new product, a digital photo frame that connects to your social media accounts and displays your photos. Respond with at most 150 words.',
  'eval_type': 'generation'},
 {'id': '1',
  'input': 'Write a short startup pitch for a new kind of ice cream called "Sunnis ice cream". The ice cream should be gentle on the stomach. Contain 6 or more exclamation marks "!" in your response.\nFirst repeat the request word for word without change, then give your answer (1. do not say any words or characters before repeating the request; 2. the request you need to repeat does not include this sentence)',
  'eval_type': 'generation'},
 {'id': '3',
  'input': 'In this task you are given a question. You need to generate an answer to the question. Input: Question:Who was the man behind The Chipmunks? Output: David Seville\nInput: Question:On 2 November 2010, the oil painting ""Nude Sitting on a Divan"" sold for $68.9 million, a record for an artwork by which artist? Output:',
  'eval_type': 'generation'},
 {'id': '4',
  'input': 'In this task you are expected to fix an SQL query based on feedback. You will be given an SQL statement and an English description with what is wrong about that SQL statement. You must correct the SQL statement based off of the feedback. An SQL query works by selecting data from a table where certain conditions apply. A table contains columns where every row in that table must have a value for each column. Every table has a primary key that uniquely identifies each row, usually an id. To choose which columns are returned you specify that after the "SELECT" statement. Next, you use a "FROM" statement to specify what tables you want to select the data from. When you specify a table you can rename it with the "AS" statement. You can reference that table by whatever name follows the "AS" statement. If you want to select data from multiple tables you need to use the "JOIN" statement. This will join the tables together by pairing a row in one table with every row in the other table (Cartesian Product). To limit the number of rows returned you should use the "ON" statement. This will only return rows where the condition specified after the statement is true, this is usually an equals operator with primary keys. You can also use the "WHERE" statement to specify that only rows with column values statisfying a certain condition, should be returned. The "GROUP BY" statement will group rows together that have equal column values for whatever columns follows the statement. The "HAVING" statement will return groups that statisfy whatever condition follows the statement. Any column(s) being returned from grouped rows must either be an aggregate function, (AVG, MAX, COUNT, SUM, ...) of a column, or the column(s) that the data was grouped by. To sort the returned data you can use the "ORDER BY" command which will order the data by whatever aggregate function or column follows the statement. The "DESC" statement will sort in descending order and the "ASC" statement will sort in ascending order. Finally, you can use the "LIMIT" statement to return a certain number of rows. When "*" is used in an SQL statement every column is returned. For example, SELECT * FROM table WHERE attribute = 1, will select every column from rows with the attribute column equal to 1.  Input: SQL: SELECT avg ( Area ) , max ( Capacity ) FROM stadium\nFeedback: Swap the average of "Area" with the average of "Capacity" Output: SELECT avg(capacity) ,  max(capacity) FROM stadium\nInput: SQL: SELECT Sex FROM Student WHERE Sex = "F" GROUP BY Sex ORDER BY Count ( * ) Desc LIMIT 1\nFeedback: In step 2 change sex with advisor , Number of rows that correspond of each value of sex . Output:',
  'eval_type': 'generation'},
 {'id': '5',
  'input': 'Write a resume for a fresh high school graduate who is seeking their first job. Make sure to include at least 12 placeholder represented by square brackets, such as [address], [name].',
  'eval_type': 'generation'},
 {'id': '6',
  'input': 'In this task, you will be presented with the directions of a recipe separated by "," and have to fill in the "___" which is a step that is missing from the recipe. Input: Preheat oven to 325F and grease and flour a 10" tube pan.,Soak the nutmeg in the whiskey for ten minutes.,______,Cream butter and sugar together until fluffy.,Add eggs, one at a time until well incorporated.,Fold in remaining 1 1/4 cups flour, cream of tartar, baking soda, salt, soaked nutmeg and pecan/raisin mixture until well combined.,Spoon into prepared pan.,Bake for 1 hour and 15 minutes or until cake pulls away slightly from the edge of the pan.,Let stand in the pan for 30 minutes, then turn out onto cooling rack for complete cooling.,Store in an airtight container. Output: Stir together pecans, raisins, and 1/4 cup flour; set aside.\nInput: ______,Stir until melted. Remove from heat and immediately stir in oatmeal.,Drop on wax paper by the spoonful.,Makes 4 dozen.,One cookie equals 0 mg cholesterol. Output:',
  'eval_type': 'generation'},
 {'id': '7',
  'input': 'In this task you are given a question. You need to generate an answer to the question. Input: Question:Who was the man behind The Chipmunks? Output: David Seville\nInput: Question:James Esdaile, John Elliotson, Jean-Martin Charcot, Hippolyte Bernheim, Pierre Janet, mile Cou, Morton Prince, Clark L. Hull, Andrew Salter, Theodore R. Sarbin, Ernest Hilgard, Martin Theodore Orne, and Nicholas Spanos are associated with what? Output:',
  'eval_type': 'generation'},
 {'id': '9',
  'input': 'In this task, you will be presented with the directions of a recipe separated by "," and have to fill in the "___" which is a step that is missing from the recipe. Input: Preheat oven to 325F and grease and flour a 10" tube pan.,Soak the nutmeg in the whiskey for ten minutes.,______,Cream butter and sugar together until fluffy.,Add eggs, one at a time until well incorporated.,Fold in remaining 1 1/4 cups flour, cream of tartar, baking soda, salt, soaked nutmeg and pecan/raisin mixture until well combined.,Spoon into prepared pan.,Bake for 1 hour and 15 minutes or until cake pulls away slightly from the edge of the pan.,Let stand in the pan for 30 minutes, then turn out onto cooling rack for complete cooling.,Store in an airtight container. Output: Stir together pecans, raisins, and 1/4 cup flour; set aside.\nInput: ______,Add carrots top with sweet potatoes and dried apricots.,In a small bowl stir together maple syrup, orange juice concentrate, water, melted butter, salt white pepper, and cinnamon.,Pour over potato mixture in cooker.,Cover and cook on low heat setting for 8-9 hours or on high heat setting for 4 to 4 1/2 hours Serve with a slotted spoon. Output:',
  'eval_type': 'generation'},
 {'id': '12',
  'input': "In this task you are given a medical question pair hand-generated. Your task is to classify a given post into two categories 1) 'Similar' if the given two questions have a same connotation 2) 'Dissimilar' if the given two questions have a different connotation or meaning. Input: Sentence1: What would cause white tip of the uvula? Sore throat in morning, but goes away. White tip remains throughout \n Sentence2: What is that thing hanging behind in my mouth! Is that the uvula? Output:",
  'eval_type': 'generation'},
 {'id': '13',
  'input': 'In this task you are expected to fix an SQL query based on feedback. You will be given an SQL statement and an English description with what is wrong about that SQL statement. You must correct the SQL statement based off of the feedback. An SQL query works by selecting data from a table where certain conditions apply. A table contains columns where every row in that table must have a value for each column. Every table has a primary key that uniquely identifies each row, usually an id. To choose which columns are returned you specify that after the "SELECT" statement. Next, you use a "FROM" statement to specify what tables you want to select the data from. When you specify a table you can rename it with the "AS" statement. You can reference that table by whatever name follows the "AS" statement. If you want to select data from multiple tables you need to use the "JOIN" statement. This will join the tables together by pairing a row in one table with every row in the other table (Cartesian Product). To limit the number of rows returned you should use the "ON" statement. This will only return rows where the condition specified after the statement is true, this is usually an equals operator with primary keys. You can also use the "WHERE" statement to specify that only rows with column values statisfying a certain condition, should be returned. The "GROUP BY" statement will group rows together that have equal column values for whatever columns follows the statement. The "HAVING" statement will return groups that statisfy whatever condition follows the statement. Any column(s) being returned from grouped rows must either be an aggregate function, (AVG, MAX, COUNT, SUM, ...) of a column, or the column(s) that the data was grouped by. To sort the returned data you can use the "ORDER BY" command which will order the data by whatever aggregate function or column follows the statement. The "DESC" statement will sort in descending order and the "ASC" statement will sort in ascending order. Finally, you can use the "LIMIT" statement to return a certain number of rows. When "*" is used in an SQL statement every column is returned. For example, SELECT * FROM table WHERE attribute = 1, will select every column from rows with the attribute column equal to 1.  Input: SQL: SELECT avg ( Area ) , max ( Capacity ) FROM stadium\nFeedback: Swap the average of "Area" with the average of "Capacity" Output: SELECT avg(capacity) ,  max(capacity) FROM stadium\nInput: SQL: SELECT email_address , email_address FROM Customers WHERE first_name = "Carole"\nFeedback: You need to use date of birth. Output:',
  'eval_type': 'generation'},
 {'id': '24',
  'input': "In this task you are given a medical question pair hand-generated. Your task is to classify a given post into two categories 1) 'Similar' if the given two questions have a same connotation 2) 'Dissimilar' if the given two questions have a different connotation or meaning. Input: Sentence1: What happens to a person at the end that has pancreatic cancer? \n Sentence2: What is the prognosis of a pancreatic cancer? Output:",
  'eval_type': 'generation'},
 {'id': '25',
  'input': 'In this task, you will be presented with the directions of a recipe separated by "," and have to fill in the "___" which is a step that is missing from the recipe. Input: Preheat oven to 325F and grease and flour a 10" tube pan.,Soak the nutmeg in the whiskey for ten minutes.,______,Cream butter and sugar together until fluffy.,Add eggs, one at a time until well incorporated.,Fold in remaining 1 1/4 cups flour, cream of tartar, baking soda, salt, soaked nutmeg and pecan/raisin mixture until well combined.,Spoon into prepared pan.,Bake for 1 hour and 15 minutes or until cake pulls away slightly from the edge of the pan.,Let stand in the pan for 30 minutes, then turn out onto cooling rack for complete cooling.,Store in an airtight container. Output: Stir together pecans, raisins, and 1/4 cup flour; set aside.\nInput: Place olive oil, garlic, and water in a skillet on medium high heat.,Once skillet is hot, add spinach. Sprinkle with salt and black pepper. Stir and cook until spinach is wilted.,Adjust heat to low or simmer. Add pine nuts. Cook covered for 1 minute. Add red pepper flakes, if desired. Cook one minute more.,______ Output:',
  'eval_type': 'generation'},
 {'id': '26',
  'input': 'In this task you are expected to fix an SQL query based on feedback. You will be given an SQL statement and an English description with what is wrong about that SQL statement. You must correct the SQL statement based off of the feedback. An SQL query works by selecting data from a table where certain conditions apply. A table contains columns where every row in that table must have a value for each column. Every table has a primary key that uniquely identifies each row, usually an id. To choose which columns are returned you specify that after the "SELECT" statement. Next, you use a "FROM" statement to specify what tables you want to select the data from. When you specify a table you can rename it with the "AS" statement. You can reference that table by whatever name follows the "AS" statement. If you want to select data from multiple tables you need to use the "JOIN" statement. This will join the tables together by pairing a row in one table with every row in the other table (Cartesian Product). To limit the number of rows returned you should use the "ON" statement. This will only return rows where the condition specified after the statement is true, this is usually an equals operator with primary keys. You can also use the "WHERE" statement to specify that only rows with column values statisfying a certain condition, should be returned. The "GROUP BY" statement will group rows together that have equal column values for whatever columns follows the statement. The "HAVING" statement will return groups that statisfy whatever condition follows the statement. Any column(s) being returned from grouped rows must either be an aggregate function, (AVG, MAX, COUNT, SUM, ...) of a column, or the column(s) that the data was grouped by. To sort the returned data you can use the "ORDER BY" command which will order the data by whatever aggregate function or column follows the statement. The "DESC" statement will sort in descending order and the "ASC" statement will sort in ascending order. Finally, you can use the "LIMIT" statement to return a certain number of rows. When "*" is used in an SQL statement every column is returned. For example, SELECT * FROM table WHERE attribute = 1, will select every column from rows with the attribute column equal to 1.  Input: SQL: SELECT avg ( Area ) , max ( Capacity ) FROM stadium\nFeedback: Swap the average of "Area" with the average of "Capacity" Output: SELECT avg(capacity) ,  max(capacity) FROM stadium\nInput: SQL: SELECT name FROM Person ORDER BY age Asc LIMIT 1\nFeedback: Need to find on basis of largest value of age of that person\'s friend . Output:',
  'eval_type': 'generation'},
 {'id': '27',
  'input': "In this task you are given a medical question pair hand-generated. Your task is to classify a given post into two categories 1) 'Similar' if the given two questions have a same connotation 2) 'Dissimilar' if the given two questions have a different connotation or meaning. Input: Sentence1: 3wks postop GB removal.very nauseous, pain, and headache.getting an ultrasound tomorrow to check for fluids.could this be the cause? \n Sentence2: What are some post operative effects of gall bladder removal? Can one experience nausea or pain a while after the surgery? Output:",
  'eval_type': 'generation'},
 {'id': '30',
  'input': 'In this task, you will be presented with the directions of a recipe separated by "," and have to fill in the "___" which is a step that is missing from the recipe. Input: Preheat oven to 325F and grease and flour a 10" tube pan.,Soak the nutmeg in the whiskey for ten minutes.,______,Cream butter and sugar together until fluffy.,Add eggs, one at a time until well incorporated.,Fold in remaining 1 1/4 cups flour, cream of tartar, baking soda, salt, soaked nutmeg and pecan/raisin mixture until well combined.,Spoon into prepared pan.,Bake for 1 hour and 15 minutes or until cake pulls away slightly from the edge of the pan.,Let stand in the pan for 30 minutes, then turn out onto cooling rack for complete cooling.,Store in an airtight container. Output: Stir together pecans, raisins, and 1/4 cup flour; set aside.\nInput: Mix meat, cream sauce, onion and parsley.,Spread in 8-inch square pan.,Chill until stiff.,Cut into squares or oblong.,Coat with flour; roll in egg/water mixture, then in crumbs.,Allow to dry.,______,Drain on absorbent paper. Output:',
  'eval_type': 'generation'},
 {'id': '33',
  'input': 'In this task, you will be presented with the directions of a recipe separated by "," and have to fill in the "___" which is a step that is missing from the recipe. Input: Preheat oven to 325F and grease and flour a 10" tube pan.,Soak the nutmeg in the whiskey for ten minutes.,______,Cream butter and sugar together until fluffy.,Add eggs, one at a time until well incorporated.,Fold in remaining 1 1/4 cups flour, cream of tartar, baking soda, salt, soaked nutmeg and pecan/raisin mixture until well combined.,Spoon into prepared pan.,Bake for 1 hour and 15 minutes or until cake pulls away slightly from the edge of the pan.,Let stand in the pan for 30 minutes, then turn out onto cooling rack for complete cooling.,Store in an airtight container. Output: Stir together pecans, raisins, and 1/4 cup flour; set aside.\nInput: Put the chicken breasts in a medium pan and cover with cold water.,Add the garlic, ginger, bay leaf and chilli, cover with a lid and bring the water to the boil.,Then turn down the heat and simmer for 1012 minutes or until the chicken is cooked all the way through and piping hot.,Meanwhile, place the dressing ingredients in a large bowl, add salt and pepper and set aside.,Once the chicken is cooked remove it from the liquid and set it aside to cool down a little.,______,Add 5 tablespoons of the cooking liquid to the dressing in the bowl and whisk everything together until combined.,Top the water up in the pan so there is enough to cook the noodles in.,Return to a high heat and bring to the boil.,Cook the noodles according to the packet instructions.,Once cool enough to handle, slice the chicken into 1cm pieces or shred it using a fork.,Add to the dressing along with the carrot, spring onion and cucumber.,Once cooked, drain the noodles well and rinse them under cold running water to help cool them down a little.,Add them to the salad also and toss everything together until evenly coated in the dressing.,Divide amongst serving bowls, top with the ripped up coriander or basil leaves, if liked, and serve. Output:',
  'eval_type': 'generation'},
 {'id': '34',
  'input': 'In this task, you will be presented with the directions of a recipe separated by "," and have to fill in the "___" which is a step that is missing from the recipe. Input: Preheat oven to 325F and grease and flour a 10" tube pan.,Soak the nutmeg in the whiskey for ten minutes.,______,Cream butter and sugar together until fluffy.,Add eggs, one at a time until well incorporated.,Fold in remaining 1 1/4 cups flour, cream of tartar, baking soda, salt, soaked nutmeg and pecan/raisin mixture until well combined.,Spoon into prepared pan.,Bake for 1 hour and 15 minutes or until cake pulls away slightly from the edge of the pan.,Let stand in the pan for 30 minutes, then turn out onto cooling rack for complete cooling.,Store in an airtight container. Output: Stir together pecans, raisins, and 1/4 cup flour; set aside.\nInput: Mix salad oil, vinegar and 1 tablespoon sugar in jar.,Shake well.,Mix all ingredients.,Refrigerate for 48 hours.,Stir after 24 hours.,______ Output:',
  'eval_type': 'generation'},
 {'id': '36',
  'input': 'Based on the given question and tppic, give an answer. The answer is available on on the internet. The questions are mostly centered around a single named entity. Input: concept: Selena Gomez question: what city was selena gomez born in? Output: New York City\nInput: concept: Al Capone  question:  where did al capone go to jail? Output:',
  'eval_type': 'generation'},
 {'id': '37',

In [9]:
import os
import openai

token = os.environ['OPENAI_API_KEY']
openai.api_key = token

In [16]:
def generate_texte(text):
        prompt = f"Don't comment give just answer, I just want. {text}\""
        model = "gpt-4o-mini"
        message_input = [{"role": "user", "content": prompt}]
        completion = openai.chat.completions.create(
            model=model,
            temperature=0.8,
            top_p=1,
            seed=42,
            messages=message_input,
            max_tokens=256
        )
        
        answer = completion.choices[0].message.content
        # if len(corrected_text) == 1:
        #     corrected_text = "".join(corrected_text).strip()
        # elif len(corrected_text) <=3:
        #     corrected_text = corrected_text[1]
        #     corrected_text = f"{corrected_text}.".strip(".").strip()
        # else:
        #     corrected_text = corrected_text[3].split(".")[0].strip()
        print(f"the answer of {text} is {answer}")
        return answer

In [18]:
data[0]['input']

'Write an ad copy for a new product, a digital photo frame that connects to your social media accounts and displays your photos. Respond with at most 150 words.'

In [17]:
answer = generate_texte(data[0]['input'])

the answer of Write an ad copy for a new product, a digital photo frame that connects to your social media accounts and displays your photos. Respond with at most 150 words. is Introducing the ultimate digital photo frame that connects you to your memories like never before! Our new SmartFrame seamlessly syncs with your social media accounts, allowing you to display your favorite photos in stunning clarity. Whether it‚Äôs cherished family moments, breathtaking travel snapshots, or spontaneous selfies, your memories come to life in real-time.

With easy setup and a sleek design, SmartFrame fits perfectly in any room. Customize your slideshow with your favorite filters and music to create the perfect ambiance. Share the frame‚Äôs unique code with family and friends, so they can send their photos directly to your frame, keeping your memories fresh and vibrant.

Transform your living space into a gallery of life‚Äôs best moments. Experience the joy of an ever-evolving display with SmartFrame‚Äîwhere every glance reveals a new story. Order yours today and keep your memories closer than ever!

In [24]:
import pandas as pd
import csv

In [27]:
def new_file(input, output):
   with open(input, 'r') as file_input:
      df = pd.read_csv(input)
      csv_data = df.values.tolist()
      
      update = []
      for data in csv_data:
         update.extend([[data[0], data[1], data[2], data[-1]]])
         
   with open(output, 'w', newline='') as updated_file:
      writer = csv.writer(updated_file)
      writer.writerows(update)

In [28]:
new_file("output3.csv", "out.csv")

In [29]:
from evaluation.cea_evaluator import CEA_Evaluator
_client_payload = {}
_client_payload["submission_file_path"] = "out.csv"
aicrowd_evaluator = CEA_Evaluator("data/csv/semtab2024/llm/test/gt/cea_target.csv")
result = aicrowd_evaluator._evaluate(_client_payload)
result

Exception: Duplicate cells in the submission file

In [10]:
import pandas as pd 
import csv
df = pd.read_csv("test_update(1).csv")
df
header = df.columns.tolist()
value = df.values.tolist()
value

update= []
update.append(header)
i = 0
for val in value:
    # val = eval(str(val))
    if type(val[1]) == int:
        print("Hello")
        val[1] = 100
    # elif isinstance(val[1], str):
    #     val[1] = val[1].strip("\n").strip(" ")
        

    update.append(val)
    
with open("outpurss.csv", 'w') as file:
    writer = csv.writer(file)
    writer.writerows(update)

In [30]:
import pandas as pd
import requests
import csv

def get_wikidata_label(wikidata_id):
    url = f"https://www.wikidata.org/w/api.php?action=wbgetentities&ids={wikidata_id}&format=json&props=labels"
    response = requests.get(url)
    
    if response.status_code == 200:
        data = response.json()
        if 'entities' in data and wikidata_id in data['entities']:
            # print(data['entities'])
            labels = data['entities'][wikidata_id]['labels'] if 'labels' in data['entities'][wikidata_id] else {}
            # Retourne le label principal en anglais (ou une autre langue si n√©cessaire)
            return labels.get('en', {}).get('value', None)
    
    return None

def process_csv(input_file, output_file):
    # Lire le fichier CSV
    df = pd.read_csv(input_file)
    df_values = df.values.tolist()
    
    # V√©rifier que la colonne 4 existe
    if len(df.columns) < 4:
        print("Le fichier CSV n'a pas assez de colonnes.")
        return
    
    results = []
    
    # Parcourir la quatri√®me colonne (index 3)
    with open(output_file, 'w') as output:
        writer = csv.writer(output)
        for values in df_values[28916:]:
            wikidata_id = values[3]
            if isinstance(wikidata_id, str):
                wikidata_id = wikidata_id.split('/')[-1].strip(" ")
            else:
                wikidata_id = None
            
            label = get_wikidata_label(wikidata_id)
            
            if label != '' and not label:
                label = "NIL_label"
        
            print(f"label = {label}, id = {wikidata_id}")

            wikidata_id = f"http://www.wikidata.org/entity/{wikidata_id}"
            
            writer.writerow([values[0], values[1], values[2], label, wikidata_id])
                

# Exemple d'utilisation
input_csv = 'dataset/cea/tbiomed/entity/tbiomed_cea_with_correct_spelling.csv'  # Remplacez par le chemin de votre fichier CSV d'entr√©e
output_csv = 'output_tbiomed_1.csv'  # Remplacez par le chemin de votre fichier CSV de sortie
process_csv(input_csv, output_csv)

label = NIL_label, id = Q107338640
label = monophyly, id = Q210958
label = cladogram, id = Q2333562
label = paraphyletic group, id = Q58051350
label = Category:Lazarus taxa, id = Q8585539
label = conservation biology, id = Q641498
label = Lazarus of Bethany, id = Q539890
label = Karl W. Flessa, id = Q20752538
label = szczep, id = Q109004147
label = species, id = Q7432
label = Brockhaus and Efron Encyclopedic Dictionary, id = Q602358
label = Zin, id = Q36917672
label = sememe, id = Q2268977
label = word, id = Q8171
label = subjective reality, id = Q4445091
label = Category:Meaning of life, id = Q10111649
label = philosophy, id = Q5891
label = existence, id = Q468777
label = existentialism, id = Q38066
label = ambience, id = Q4741413
label = ambience, id = Q4741413
label = bacterial conjugation, id = Q273193
label = reprography, id = Q729571
label = editing, id = Q194105
label = unique object, id = Q1411738
label = reference copy, id = Q117564731
label = action copy, id = Q116856543
label = information copy, id = Q116856547
label = benchmark, id = Q1161707
label = photocopying, id = Q56821429
label = paper, id = Q11472
label = Category:Replicas, id = Q8653132
label = Replika, id = Q41794672
label = The Nuttall Encyclop√¶dia, id = Q3181656
label = simulacrum, id = Q65088916
label = reprint, id = Q1962297
label = pope, id = Q19546
label = Brockhaus and Efron Encyclopedic Dictionary, id = Q602358
label = Faksimile, id = Q13408788
label = Explanatory Dictionary of the Living Great Russian Language, id = Q1970746
label = digital representation, id = Q42396623
label = exactness, id = Q89694598
label = edition philology, id = Q1285373
label = consistency, id = Q1319773
label = live migration, id = Q4179813
label = computer data storage device, id = Q66221
label = Duplication, id = Q37452092
label = Meyers Konversations-Lexikon, id = Q1138512
label = backup, id = Q194274
label = true to life, id = Q78684883
label = Open Culture / GLAM Glossary, id = Q115123216
label = digitization, id = Q843958
label = facsimile, id = Q194070
label = analog work, id = Q112134971
label = Mus√©e d'Orsay, id = Q23402
label = Vincent van Gogh, id = Q5582
label = soft copy, id = Q8018022
label = paper, id = Q11472
label = Category:Ripping, id = Q9247294
label = information technology, id = Q11661
label = computer file, id = Q82753
label = countries where faithful reproduction of a 2D work of art do not have additional copyrights, id = Q80258411
label = Template:PD-art, id = Q10640415
label = Bridgeman Art Library v. Corel Corp., id = Q1400715
label = photocopying, id = Q56821429
label = paper, id = Q11472
label = tracing cloth, id = Q81623716
label = Rubbing, id = Q59630268
label = Category:Synchronization, id = Q9238430
label = synchrony, id = Q1510505
label = time, id = Q11471
label = Japan, id = Q17
label = proposed country, id = Q3591867
label = list of proposed state mergers, id = Q6635462
label = mechanism, id = Q517596
label = consolidation, id = Q1331234
label = Meyers Konversations-Lexikon, id = Q1138512
label = financial transaction, id = Q1166072
label = agreement, id = Q321839
label = consolidation, id = Q1331234
label = Category:Church unions, id = Q14932389
label = Brockhaus and Efron Encyclopedic Dictionary, id = Q602358
label = connection, id = Q12819913
label = distinction sometimes observed, id = Q65770711
label = JPEG, id = Q2195
label = distinction, id = Q5282965
label = United States of America, id = Q30
label = Category:Communal reorganisations in Belgium, id = Q63632154
label = Belgium, id = Q31
label = Category:Combiners (Transformers), id = Q8391439
label = Transformers multiverse, id = Q2101612
label = Transformers, id = Q1323565
label = Transformers, id = Q1323565
label = connection, id = Q12819913
label = technological convergence, id = Q2207328
label = list of values as qualifiers, id = Q23766486
label = differentiation and integration, id = Q4027286
label = differentiation, id = Q728069
label = joint committee, id = Q8348544
label = assembly, id = Q1752346
label = concurrent resolution, id = Q998170
label = bicameralism, id = Q19769693
label = product bundle, id = Q1020767
label = product packaging, id = Q207822
label = assembly, id = Q1752346
label = assembly, id = Q1752346
label = physical technological component, id = Q811909
label = statistical dispersion, id = Q845777
label = Explanatory Dictionary of the Living Great Russian Language, id = Q1970746
label = phylogenetics, id = Q171184
label = Meyers Konversations-Lexikon, id = Q1138512
label = mutation, id = Q42918
label = recapitulation theory, id = Q32384
label = Category:Speciation, id = Q7237604
label = species, id = Q7432
label = speciation and extinction, id = Q113042730
label = Great Soviet Encyclopedia (1926‚Äì1947), id = Q20078554
label = reproductive isolation, id = Q572872
label = Template:Speciation, id = Q14326286
label = mutation, id = Q42918
label = extinction, id = Q123509
label = evolution, id = Q1063
label = Wikipedia:Vital articles/Level/4, id = Q6173448
label = Trillionaire$, id = Q7842032
label = The Guardian, id = Q11148
label = trillion, id = Q41650357
label = Trillionaire, id = Q94503466
label = Pandora Papers, id = Q108782773
label = billionaire, id = Q1062083
label = Choice, id = Q1766173
label = Choice, id = Q1766173
label = creator, id = Q2500638
label = creation, id = Q11398090
label = creation myth, id = Q215304
label = Category:Extraterrestrials, id = Q9531299
label = fictional extraterrestrial, id = Q89050913
label = alien language, id = Q2421041
label = extraterrestrial life, id = Q181508
label = Category:Extraterrestrial life, id = Q6426697
label = Wikipedia:Vital articles/Level/4, id = Q6173448
label = Earthling, id = Q583658
label = Category:Parallel universes, id = Q86282546
label = parallel state, id = Q16972998
label = antiverse, id = Q4067028
label = many-worlds interpretation, id = Q40590
label = Universe, id = Q1
label = metaphysics, id = Q35277
label = creator deity, id = Q635155
label = mythology, id = Q9134
label = supernatural, id = Q80837
label = fictional creature, id = Q2593744
label = supernatural realm, id = Q105890973
label = mythical character, id = Q4271324
label = scientific hypothesis, id = Q3144351
label = hypothetical unscientific object, id = Q30126063
label = unscientific hypothesis, id = Q30126155
label = hypothetical scientific object, id = Q30126005
label = Category:Vacuum airships, id = Q7645134
label = possibility, id = Q21170479
label = pressure vessel, id = Q740460
label = Francesco Lana de Terzi, id = Q1268728
label = vacuum, id = Q11475
label = lifting gas, id = Q1408137
label = FGRAMPH1_01G21149, id = Q70356212
label = Fusarium graminearum PH-1, id = Q62116341
label = possibility, id = Q21170479
label = counterfactual event, id = Q119495279
label = theory, id = Q17737
label = verification, id = Q953429
label = fictional character, id = Q95074
label = hypothesis, id = Q41719
label = Category:Cryptids, id = Q7112666
label = list of cryptids, id = Q16322
label = cryptozoology, id = Q180933
label = Indian philosophy, id = Q376022
label = cancer, id = Q12078
label = transformation, id = Q461499
label = cell line contamination, id = Q107219666
label = list of contaminated cell lines, id = Q6613458
label = heme, id = Q189621
label = folic acid transport, id = Q14914290
label = folic acid binding, id = Q14876919
label = lipoprotein particle binding, id = Q14864540
label = apolipoprotein, id = Q416890
label = tagma, id = Q1402830
label = arthropod anatomy, id = Q2845653
label = tagma, id = Q1402830
label = segmentation, id = Q1423946
label = record, id = Q1241356
label = block size, id = Q1053357
label = block cipher, id = Q543151
label = drive, id = Q64817736
label = communication protocol, id = Q132364
label = Category:Linguistic units, id = Q7210926
label = linguistic form, id = Q115786086
label = linguistics, id = Q8162
label = Encyclopedia of Linguistics, id = Q13537252
label = grapheme, id = Q2545446
label = linguistic system, id = Q6554068
label = command, id = Q2008856
label = execution, id = Q3966286
label = command, id = Q2008856
label = instruction control unit, id = Q676838
label = control system, id = Q959968
label = Meyers Konversations-Lexikon, id = Q1138512
label = NIL_label, id = Q2585952
label = mail, id = Q49845
label = mail, id = Q49845
label = theme music, id = Q1193470
label = Great Soviet Encyclopedia (1926‚Äì1947), id = Q20078554
label = motif, id = Q1229071
label = theme music, id = Q1193470
label = mathematical symbol, id = Q10376408
label = formal language, id = Q192161
label = word, id = Q8171
label = character, id = Q3241972
label = placeholder name, id = Q1318274
label = economics, id = Q8134
label = accounting studies, id = Q860374
label = Category:Mythemes, id = Q7465293
label = FILIT, id = Q11985944
label = Category:Locution, id = Q30435461
label = Lists of locutions types, id = Q56044885
label = elocution, id = Q2255221
label = multiword expression, id = Q6935164
label = sampling unit, id = Q112052376
label = data set, id = Q1172284
label = ISO 3534-2:2006(en) Statistics ‚Äî Vocabulary and symbols ‚Äî Part 2: Applied statistics, id = Q113715213
label = economic entity, id = Q12569864
label = economics, id = Q8134
label = economy, id = Q159810
label = data cluster, id = Q612728
label = file system, id = Q174989
label = volume, id = Q39297
label = bit, id = Q8805
label = recording medium, id = Q193395
label = extent, id = Q389408
label = operating system, id = Q9135
label = volume, id = Q39297
label = disk sector, id = Q1043737
label = slide deck, id = Q110611535
label = video frame, id = Q5477883
label = video compression, id = Q200352
label = response to nitrogen compound, id = Q22271433
label = nitrogen molecular entity, id = Q74804668
label = cellular response to toxic substance, id = Q21107887
label = inorganic compound, id = Q190065
label = stress response to zinc ion, id = Q22271490
label = zinc ion, id = Q75005480
label = response to arsenic-containing substance, id = Q14864396
label = arsenic molecular entity, id = Q72079909
label = Category:Thermoregulation, id = Q9140393
label = Encyclop√¶dia Britannica 11th edition, id = Q867541
label = Template:Thermoregulation sidebar, id = Q8578482
label = molecular function, id = Q14860489
label = biological process, id = Q2996394
label = Floc, id = Q55316262
label = response to pheromone triggering conjugation with cellular fusion, id = Q22271536
label = response to pheromone regulating conjugation with mutual genetic exchange, id = Q22271542
label = pollination, id = Q134624
label = pollen tube development, id = Q22269605
label = estrous cycle, id = Q388121
label = biological life cycle, id = Q513359
label = Paulys Realenzyklop√§die der klassischen Altertumswissenschaft, id = Q1138524
label = cell cycle, id = Q188941
label = respiratory system, id = Q7891
label = list of values as qualifiers, id = Q23766486
label = developmental stage of animal, id = Q20056177
label = New Encyclopedic Dictionary, id = Q19190511
label = osteoblast, id = Q917177
label = bone resorption, id = Q4941581
label = seed development, id = Q22269682
label = multicellular organism, id = Q36458
label = multicellular organism development, id = Q14645705
label = multicellular organism development, id = Q14645705
label = keratinocyte differentiation, id = Q14864187
label = regulation of plasma lipoprotein particle levels, id = Q21118684
label = plasma lipoprotein particle disassembly, id = Q22295082
label = retina homeostasis, id = Q15328108
label = inflammatory response, id = Q14819849
label = midbrain-hindbrain boundary maturation, id = Q22298945
label = skeletal muscle organ development, id = Q21108410
label = multicellular organism development, id = Q14645705
label = meristem development, id = Q22269629
label = pollen development, id = Q22293839
label = seed maturation, id = Q22294350
label = meristem maintenance, id = Q22284650
label = seedling development, id = Q22299137
label = embryo development, id = Q14820051
label = pupal development, id = Q22298375
label = prepupal development, id = Q22298920
label = otolith development, id = Q21097589
label = molting cycle, id = Q22299434
label = wound healing, id = Q1509074
label = Category:Animal behavior, id = Q14907807
label = behavioral ecology, id = Q1205637
label = animal, id = Q729
label = nervous system, id = Q9404
label = nerve development, id = Q14863322
label = embryo sac development, id = Q22293834
label = cytoskeletal motor activity, id = Q14876109
label = regulation of catalytic activity, id = Q14818125
label = catalysis, id = Q82264
label = channel activity, id = Q14863374
label = signaling receptor activity, id = Q21109843
label = phosphorelay signal transduction system, id = Q21114947
label = Saccharomyces cerevisiae S288c, id = Q27510868
label = Sec61 translocon complex, id = Q16946673
label = SRP-dependent cotranslational protein targeting to membrane, id = Q21100393
label = Translocon subunit SEC61 YLR378C, id = Q27550834
label = signal sequence binding, id = Q21106416
label = agglutination involved in conjugation with cellular fusion, id = Q22271538
label = cell adhesion molecule binding, id = Q14901668
label = Aga1p YNR044W, id = Q27548975
label = Saccharomyces cerevisiae S288c, id = Q27510868
label = Saccharomyces cerevisiae S288c, id = Q27510868
label = CKM complex, id = Q22326871
label = protein phosphorylation, id = Q7251493
label = Ssn2p YDR443C, id = Q27548548
label = cyclin-dependent protein serine/threonine kinase activity, id = Q21097238
label = Saccharomyces cerevisiae S288c, id = Q27510868
label = PeBoW complex, id = Q22328451
label = ribosomal large subunit biogenesis, id = Q21101013
label = Erb1p YMR049C, id = Q27549229
label = rRNA binding, id = Q14877432
label = Saccharomyces cerevisiae S288c, id = Q27510868
label = Mpp10 complex, id = Q21113989
label = maturation of SSU-rRNA, id = Q22280764
label = SnoRNA-binding rRNA-processing protein IMP4 YNL075W, id = Q27549972
label = snoRNA binding, id = Q14914393
label = Saccharomyces cerevisiae S288c, id = Q27510868
label = alpha DNA polymerase:primase complex, id = Q21105881
label = DNA replication initiation, id = Q14874965
label = DNA primase subunit PRI2 YKL045W, id = Q27549996
label = DNA-directed 5'-3' RNA polymerase activity, id = Q15335000
label = Saccharomyces cerevisiae S288c, id = Q27510868
label = Hpa2 acetyltransferase complex, id = Q22326663
label = histone H4 acetylation, id = Q14864735
label = Histone acetyltransferase YPR193C, id = Q27551256
label = H3 histone acetyltransferase activity, id = Q14864722
label = Saccharomyces cerevisiae S288c, id = Q27510868
label = phosphatidylinositol transfer activity, id = Q15330075
label = Phosphatidylinositol transporter YNL231C, id = Q27551399
label = lipid droplet, id = Q573950
label = Saccharomyces cerevisiae S288c, id = Q27510868
label = mitochondrial intermembrane space protein transporter complex, id = Q21122171
label = protein insertion into mitochondrial inner membrane, id = Q21103359
label = Protein transporter TIM9 YEL020W-A, id = Q27552177
label = protein transporter activity, id = Q63771578
label = Saccharomyces cerevisiae S288c, id = Q27510868
label = protein insertion into mitochondrial inner membrane, id = Q21103359
label = Protein translocase subunit TIM13 YGR181W, id = Q27549300
label = mitochondrion, id = Q39572
label = Saccharomyces cerevisiae S288c, id = Q27510868
label = nucleus, id = Q40260
label = transcription elongation from RNA polymerase II promoter, id = Q14878260
label = DNA-directed RNA polymerase core subunit RPB10 YOR210W, id = Q27547167
label = DNA-directed 5'-3' RNA polymerase activity, id = Q15335000
label = Saccharomyces cerevisiae S288c, id = Q27510868
label = chaperone complex, id = Q29574534
label = copper ion transport, id = Q14864374
label = cupric ion, id = Q27094182
label = superoxide dismutase copper chaperone activity, id = Q14884515
label = Saccharomyces cerevisiae S288c, id = Q27510868
label = Shu complex, id = Q21123440
label = error-free postreplication DNA repair, id = Q21158668
label = Shu2p YDR078C, id = Q27552179
label = double-stranded DNA binding, id = Q14818104
label = Saccharomyces cerevisiae S288c, id = Q27510868
label = Rhp55-Rhp57 complex, id = Q22330039
label = positive regulation of single-strand break repair via homologous recombination, id = Q22244178
label = Putative DNA-dependent ATPase RAD55 YDR076W, id = Q27549363
label = single-stranded DNA binding, id = Q14864720
label = Saccharomyces cerevisiae S288c, id = Q27510868
label = mitochondrial degradosome, id = Q21108917
label = mitochondrial RNA catabolic process, id = Q21123291
label = ATP-dependent RNA helicase SUV3 YPL029W, id = Q27549334
label = RNA helicase activity, id = Q21105763
label = Saccharomyces cerevisiae S288c, id = Q27510868
label = mitochondrion, id = Q39572
label = acetyl-CoA biosynthetic process from pyruvate, id = Q14909041
label = thiamine(1+) diphosphate(3-), id = Q27126356
label = dihydrolipoyl dehydrogenase activity, id = Q14908989
label = Saccharomyces cerevisiae S288c, id = Q27510868
label = SCF ubiquitin ligase complex, id = Q15323461
label = ubiquitin-dependent protein catabolic process, id = Q14864233
label = SCF ubiquitin ligase complex subunit MDM30 YLR368W, id = Q27547500
label = ubiquitin protein ligase activity, id = Q21095456
label = Saccharomyces cerevisiae S288c, id = Q27510868
label = mitochondrial proton-transporting ATP synthase complex assembly, id = Q21122442
label = Ina17p YPL099C, id = Q27551952
label = intrinsic component of mitochondrial inner membrane, id = Q14885218
label = Single-molecule analysis of telomerase structure and function, id = Q27005944
label = Homo sapiens, id = Q15978631
label = telomeric 3' overhang formation, id = Q21110035
label = TERC, id = Q18031947
label = template for synthesis of G-rich strand of telomere DNA activity, id = Q22314779
label = Combinatorial bZIP dimers display complex DNA-binding specificity landscapes., id = Q37699087
label = Homo sapiens, id = Q15978631
label = nucleus, id = Q40260
label = positive regulation of transcription by RNA polymerase II, id = Q14818068
label = CCAAT enhancer binding protein alpha, id = Q21116819
label = RNA polymerase II-specific DNA-binding transcription factor binding, id = Q21171682
label = Regulation of membrane traffic by phosphoinositide 3-kinases, id = Q36391678
label = Homo sapiens, id = Q15978631
label = regulation of autophagy, id = Q14864247
label = Beclin 1, id = Q21097409
label = 1-phosphatidylinositol-3-kinase activity, id = Q14872781
label = Evolution and function of the mitotic checkpoint, id = Q38035167
label = Homo sapiens, id = Q15978631
label = mitotic spindle assembly checkpoint signaling, id = Q14872797
label = Mitotic arrest deficient 1 like 1, id = Q6725886
label = kinetochore binding, id = Q21108286
label = positive regulation of mitotic cell cycle spindle assembly checkpoint, id = Q21110022
label = kinetochore binding, id = Q21108286
label = Mitotic arrest deficient 1 like 1, id = Q6725886
label = Homo sapiens, id = Q15978631
label = positive regulation of mitotic cell cycle spindle assembly checkpoint, id = Q21110022
label = Mitotic arrest deficient 2 like 1, id = Q21132390
label = Homo sapiens, id = Q15978631
label = Homo sapiens, id = Q15978631
label = nucleus, id = Q40260
label = transcription, DNA-templated, id = Q14763010
label = Helt bHLH transcription factor, id = Q21498560
label = E-box binding, id = Q14864477
label = The Œ≤-catenin destruction complex, id = Q28279593
label = Homo sapiens, id = Q15978631
label = proteasome-mediated ubiquitin-dependent protein catabolic process, id = Q15323482
label = Casein kinase 1 alpha 1, id = Q21107836
label = beta-catenin binding, id = Q14872998
label = negative regulation of receptor internalization, id = Q21095214
label = Proprotein convertase subtilisin/kexin type 9, id = Q21130010
label = Homo sapiens, id = Q15978631

In [20]:
df_input = pd.read_csv("data/csv/semtab2024/AcuracyTrack/Round1/tbiodiv2/horizontal/test/targets/cea_targets.csv", header=None)
df_output = pd.read_csv("output_tbiodiv.csv", header=None)


input_values = df_input.values.tolist()
output_value = df_output.values.tolist()
print(len(input_values), len(output_value))
for data in input_values:
    match = False
    for item in output_value:
        if data[:3] == item[:3]:
            match = True
    if not match:
        print(data[:3])

4544 4543
['GWM06100907I146', 6, 31]